<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <title>Mercado Liebre</title>
   
</head>
<body>
    <header>
        
        <img class="imglogo" src="/images/logo-mercado-liebre.svg" alt="imagen del logo de mercado liebre">
       <div class="myinput">
        <input  type="text" placeholder="Buscar productos,marcas y mas">
       </div>
    
        <div class="burger-menu">
            <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        </div>
        
                
     <nav class="header-first">
        <ul>
            <li><a href="/register">crear cuenta</a></li>
            <li><a href="/login" >Ingresá</a></li>
            <li><a href="" >Mis compras</a></li>
        </ul>
    </nav>

    <nav class="header-second">
        <ul>
    
            <li>Comprá en cuotas y sin tarjeta de crédito</li>
        </ul>
    
    </nav>
    <section> <img src= "/images/ofertas.webp" alt="imagen oferta" class="imagen-oferta"></section>
</header>
    <main>
        
        <h2> Sección: Basado en tu última visita</h2>
        <div class="product-container">
        
          <div class="descripcion-producto">  
            <img width="100%" src="./images/img-cafetera-moulinex.jpg" alt="imagen de Cafetera">
            <div  class="truck-icon rotate">
                <i class="fas fa-truck"></i>
              </div>
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>
        </div>
        <div>
            <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
            <div  class="truck-icon rotate">
                <i class="fas fa-truck"></i>
              </div>
            <p>$230.000</p>
            <p>20% off</p>
            <p>MacBook Pro 2019</p>
        </div>

        <div>
            <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="imagen de Samsung Galaxy S10">
            <div  class="truck-icon rotate">
                <i class="fas fa-truck"></i>
              </div>
            <p>$70.500</p>
            <p>10% off</p>
            <p>Samsung Galaxy S10</p>
        </div>

        <div>
            <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="imagen de Samsung SmartTv">
            <div  class="truck-icon rotate">
                <i class="fas fa-truck"></i>
              </div>
            <p>$23.200</p>
            <p>5% off</p>
            <p>SmartTv Samsung 43"</p>
            <
        </div>
    </div>
    <h2> Sección de Ofertas</h2>
        <div class="product-container">
        
          <div class="descripcion-producto">  
            <img width="100%" src="./images/img-cafetera-moulinex.jpg" alt="imagen de Cafetera">
            <div  class="truck-icon rotate">
                <i class="fas fa-truck"></i>
              </div>
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>
        </div>
        <div>
            <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
            <div  class="truck-icon rotate">
                <i class="fas fa-truck"></i>
              </div>
            <p>$230.000</p>
            <p>20% off</p>
            <p>MacBook Pro 2019</p>
        </div>

        <div>
            <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="imagen de Samsung Galaxy S10">
            <div  class="truck-icon rotate">
                <i class="fas fa-truck"></i>
              </div>
            <p>$70.500</p>
            <p>10% off</p>
            <p>Samsung Galaxy S10</p>
        </div>

        <div>
            <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="imagen de Samsung SmartTv">
            <div  class="truck-icon rotate">
                <i class="fas fa-truck"></i>
              </div>
            <p>$23.200</p>
            <p>5% off</p>
            <p>SmartTv Samsung 43"</p>
            <h2><b>Seccion de Ofertas</b></h2>
        </div>
    </div>
    </main>

    <footer>
        <div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div class="footer-item">
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div class="footer-item">
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>

        <div class="footer-item">
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </div>
    </footer>
</body>
</html>