<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styleslogin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
   
</head>
<body>
    <header>
        
        <img class="imglogo" src="/images/logo-mercado-liebre.svg" alt="imagen del logo de mercado liebre">
       <div class="myinput">
        <input  type="text" placeholder="Buscar productos,marcas y mas">
       </div>
    
        <div class="burger-menu">
            <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        </div>
        
                
     <nav class="header-first">
        <ul>
            <li><a href="/register">crear cuenta</a></li>
            <li><a href="/login" >Ingresá</a></li>
            <li><a href="" >Mis compras</a></li>
        </ul>
    </nav>

    <nav class="header-second">
        <ul>
    
            <li>Comprá en cuotas y sin tarjeta de crédito</li>
        </ul>
    
    </nav>

</header>
    <main>
     
    <div class="login-container">
        <h1>Iniciar Sesión</h1>
        <form>
            <label for="username">Nombre de Usuario</label>
            <input type="text" id="username" name="username" placeholder="Ingrese su nombre de usuario" required>
            
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" placeholder="Ingrese su contraseña" required>
            
            <button type="submit">Ingresar</button>
        </form>
    </div>
    </main>
    <footer>
        <div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div class="footer-item">
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div class="footer-item">
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>

        <div class="footer-item">
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </div>
    </footer>
</body>
</html>