<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesregister.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
   
</head>
<body>
    <header>
        
        <img class="imglogo" src="/images/logo-mercado-liebre.svg" alt="imagen del logo de mercado liebre">
       <div class="myinput">
        <input  type="text" placeholder="Buscar productos,marcas y mas">
       </div>
    
        <div class="burger-menu">
            <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        </div>
        
                
     <nav class="header-first">
        <ul>
            <li><a href="/login">crear cuenta</a></li>
            <li><a href="" >Ingresá</a></li>
            <li><a href="" >Mis compras</a></li>
        </ul>
    </nav>

    <nav class="header-second">
        <ul>
    
            <li>Comprá en cuotas y sin tarjeta de crédito</li>
        </ul>
    
</header>
    <main>
        <div class="registration-container">
            <h1>Registro de Usuario</h1>
            <form>
                <div class="input-group">
                    <input type="text" id="firstName" name="firstName" placeholder="Nombre" required>
                    <input type="text" id="lastName" name="lastName" placeholder="Apellido" required>
                </div>
                <div class="input-group">
                    <input type="text" id="username" name="username" placeholder="Nombre de Usuario" required>
                    <input type="email" id="email" name="email" placeholder="Correo Electrónico" required>
                </div>
                <div class="input-group">
                    <input type="date" id="birthdate" name="birthdate" required>
                    <input type="text" id="address" name="address" placeholder="Domicilio" required>
                </div>
                <div class="input-group">
                    <label for="profile">Perfil:</label>
                    <select id="profile" name="profile">
                        <option value="buyer">Comprador</option>
                        <option value="seller">Vendedor</option>
                        <option value="both">Ambos</option>
                    </select>
                </div>
                <div class="input-group">
                    <label for="interests">Intereses:</label>
                    <select id="interests" name="interests">
                        <option value="home">Hogar</option>
                        <option value="toys">Juguetería</option>
                        <option value="health">Vida Sana</option>
                        <option value="fashion">Moda</option>
                    </select>
                </div>
                <div class="input-group">
                    <input type="password" id="password" name="password" placeholder="Contraseña" required>
                    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirmar Contraseña" required>
                </div>
                <div class="button-group">
                    <button type="submit">Registrar</button>
                    <button type="reset">Borrar</button>
                </div>
            </form>
        </div>
        </main>
        
    
    <footer>
        <div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div class="footer-item">
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div class="footer-item">
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>

        <div class="footer-item">
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </div>
    </footer>
</body>
</html>